@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

:root {
    --font-family: 'Montserrat', sans-serif;
    --bg-color: #0AA1DD;
    --primary-color: #E8F9FD;
}

* {
    font-size: 10px;
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: var(--font-family);
}

h1 {
    font-size: 4rem;
}

h3 {
    font-size: 4rem;
    margin-top: 20px;
    border-bottom: 3px solid white;
}

.mensagem {
    font-size: 1.5em;
    margin-top: 40px;
}

.box {
    border: 2px solid var(--primary-color);
    display: inline-block;
    font-size: 4em;
    padding: 10px;
    margin: 20px;
}

.btn {
    margin-top: 20px;
    padding: 20px;
    color: #0AA1DD;
    font-size: 1rem;
}

.feedback {
    font-size: 3rem;
}

.teste {
    animation: cursor 1s infinite;
}

@keyframes cursor {
    0% { opacity: 1; }
      49% { opacity: 1; }
      50% { opacity: 0; }
      100% { opacity: 0; }
  }